.custom-bg-offwhite{
    background-color: #F2F2F2;
  }

.custom-bg-darkblue{
    background-color: #053BA6;
}

.custom-bg-lightblue{
    background-color: #1374F2;
}

.custom-rounded-20{
    border-radius: 20px;
}

.custom-bg-white{
    background-color: white;
}

.custom-bg-black{
    background-color: #262626;
}

.custom-bg-yellow{
    background-color: #F2B705;
}

.custom-txt-normal{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-txt-sml{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-txt-title{
    font-size: 20px;
    font-weight:600;
    font-family: "Mitr";
}

.custom-txt-subheading{
    font-size: 24px;
    font-weight:600;
    font-family: "Mitr";
}

.custom-txt-mainheading{
    font-size: 27px;
    font-weight:bold;
    font-family: "Mitr";
}

.custom-a-blue{
    color: #053BA6;
    text-decoration: underline;
}

.custom-bg-background {
    background-image: url("../public/img/bg-1.png");
    background-size: cover;
}