.custom-bg-offwhite{
    background-color: #F2F2F2;
  }

.custom-bg-darkblue{
    background-color: #053BA6;
}

.custom-bg-lightblue{
    background-color: #1374F2 !important;
}

.custom-rounded-20{
    border-radius: 20px;
}

.custom-bg-white{
    background-color: white;
}

.custom-bg-black{
    background-color: #262626;
}

.custom-bg-yellow{
    background-color: #F2B705;
}

.custom-txt-normal{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-txt-sml{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-txt-title{
    font-size: 20px;
    font-weight:600;
    font-family: "Mitr";
}

.custom-txt-subheading{
    font-size: 24px;
    font-weight:600;
    font-family: "Mitr";
}

.custom-txt-mainheading{
    font-size: 27px;
    font-weight:bold;
    font-family: "Mitr";
}

.custom-a-blue{
    color: #053BA6;
    text-decoration: underline;
}

.custom-bg-log {
    background-image: url("../public/img/vue.jpg");
    /* background-size: cover; */
}
.custom-bg-red{
    background-color: #E00909
}

.custom-txt-normal-mitr{
    font-size: 18px;
    font-weight:600;
    font-family: "Mitr";
}

/* Google Signin Button */

  span.icon {
    background: url('../public/img/google-logo.png') transparent 50% no-repeat;
    background-size: 80%;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    padding: 10px;
  }


/* Abdullah's css */
.fcontainer{
    border: 2px solid #262626;
    height: 25vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    /* color: black; */
    background-color: #262626; 
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap; */
    place-content: space-evenly;
  }
  
  .fitem{
    border: 2px solid white;
    margin:12px;
    width: 122px;
    height: 140px;
    background-color: white;
    color: #F2B705;
    font-size: 10px;
    border-radius: 3px;
    text-align: left;
    text-indent: 12px;
  }
  
  .fitemSmall{
    border: 2px solid #1374F2;
    margin:9px;
    width: 100px;
    height: 80px;
    background-color: #1374F2;
    border-radius: 3px;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .fcontainerNew{
    border: 2px solid #262626;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626; 
    place-content: space-evenly;
  }
  
  .fitemLeft{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin:12px;
    width: 300px;
    height: 502px;
  }
  
  .fitemRight{
    background-color: #C4C4C4;
    border: 2px solid #F2B705;
    border-radius: 10px;
    margin:12px;
    width: 600px;
    height: 502px;
    display: flex;
    place-content: space-between;
    /* align-items: stretch; */
  
  }
  
  .fitemRightInner{
    background-color: #F2B705;
    border: 2px solid #F2B705;
    border-radius: 10px;
    /* margin:12px; */
    width: 297px;
    height: 498px;
  }
  
  .indent-2{
    text-indent: 1rem;
  }
  
  .fitemButton{
    border: 2px solid #1374F2;
    margin:175px;
    width: 100px;
    height: 25px;
    background-color: #1374F2;
    color: white;
    font-size: 10px;
    border-radius: 3px;
    text-align: center;
    /* text-indent: 12px; */
  }
  
  .fcontainerChain{
    border: 2px solid #262626;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626; 
    place-content: space-evenly;
  }
  
  .img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  .fText{
    /* border: 2px solid white; */
    margin:12px;
    width: 586px;
    /* width: 400px; */
    height: 140px;
    /* background-color: white; */
    color: white;
    font-size: 10px;
    /* border-radius: 3px; */
    text-align: left;
    /* text-indent: 12px; */
    justify-content: right;
    /* align-items: right; */
    display: flex;
  }
  
  .fTextLeft{
    /* border: 2px solid white; */
    margin:12px;
    width: 586px;
    height: 140px;
    /* background-color: white; */
    color: white;
    font-size: 10px;
    /* border-radius: 3px; */
    text-align: left;
    /* text-indent: 12px; */
    justify-content: left;
    /* align-items: left; */
    display: flex;
  }
  
  /* abdullah's css */
  .fcontainer{
    /* border: 2px solid grey; */
    /* border: full width; */
    height: 50vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    align-items: center; 
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap; */
  }
  
  .fcontainerSecond{
    /* border: 2px solid grey; */
    /* border: full width; */
    height: 15vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    justify-content: space-evenly;
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    width: 800px;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-self: left; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap; */
  }
  
  .fconButton{
    height: 15vh;
    justify-content: center;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
  }
  
  .fcontainerTitle{
    height: 5vh;
    display: flex;
    /* justify-content: space-evenly; */
    margin:12px;
    width: 220px;
    height: 50px;
  }
  
  .fitemTitle{
    height: 2vh;
    margin:12px;
  }
  
  .fitem{
    border-radius: 10px;
    background-color: red;
    border: 2px solid black;
    margin:12px;
    width: 122px;
    height: 122px;
    text-align: left;
  }
  
  .fitemLarge{
    border-radius: 10px;
    background-color: white;
    border: 2px solid #F2B705;
    margin:12px;
    width: 400px;
    height: 400px;
    border-style: dashed;
    /* margin-left: auto;
    margin-right: auto; */
  }
  
  .fitemMedium{
    border-radius: 6px;
    background-color: #F2B705;
    border: 2px solid #F2B705;
    /* margin:1px; */
    width: 300px;
    height: 100px;
    color: white;
    /* text-align: justify; */
    text-align: center;
  
  }
  
  .fitemMediumNext{
    border-radius: 10px;
    background-color: #1374F2;
    border: 2px solid #1374F2;
    margin:12px;
    width: 220px;
    height: 80px;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center; 
    color: white;
  }
  
  
  .fitemSmall{
    border-radius: 10px;
    background-color: black;
    border: 2px solid white;
    margin:12px;
    width: 220px;
    height: 50px;
    color: white;
    align-content: center;
    justify-content: center;
    text-align: left;
    /* text-emphasis-color: white;
    text-decoration: solid; */
  }